<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cards</title>
    <link rel="stylesheet" href="/assets/css/card.css">
</head>

<body>

    <div class="card-container">
        <a href="">
            <div class="film-card">
                <div class="image-wrapper">
                    <img src="/assets/images/mad-max.jpg" alt="Film Görseli">
                </div>
                <div class="bcgrnd-msg">

                    <h2>Furiosa: A Mad Max Saga</h2>
                    <p>Furiosa: Bir Mad Max Destanı, yaşadıklarından sonra güçlü bir savaşçıya dönüşen...</p>

                </div>
            </div>
        </a>
    </div>



</body>


</html>